<html><head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sargent Coding - Taking code and design to another level.">
    <meta property="og:site_name" content="Sargent Coding">
    <meta property="og:description" content="We are Sargent Coding, the company that makes advantageous, outside-the-box and remarkable ideas come to life.">
    <meta property="og:image" content="https://cdn.glitch.com/dc38f52f-de50-4241-b0b3-d10b915c70ac%2F85c81aa3-4379-4539-88be-2bbebbf5feaf.image.png?v=1628253825514">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="theme-color" content="#2255dd">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/dc38f52f-de50-4241-b0b3-d10b915c70ac%2FFrame%201%20(1).png?v=1628359003605">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sargent Coding - Taking code and design to another level.</title>
  <link rel="stylesheet" href="/profile.css"><link rel="stylesheet" href="/fucking-styles.css"><link rel="stylesheet" href="/colours.css"></head>
  
  
  
  
  <body>
      <div class="section" id="profileBanner" style="background-image: url('<%- banner %>');">
        <div id="navHolder">
            <div id="nav">
                <a href="/"><img src="https://cdn.glitch.com/5f5ab845-2cb8-4210-b34a-03b1f032163a%2Funtitled%20(1).svg?v=1615905919017"></a>
                <div id="navDesktop">
                <a href="#products">Products</a>
                <a href="#team">Team</a>
                <a href="#docs">Docs</a>
                <a href="https://discord.gg/ZYwF9q8ChB">Community</a>
                <button id="accounts">
                    Sign in
                </button>
                </div>
                <div id="navMobile">
                <a href="#products">
                    <button>
                    <img src="https://img.icons8.com/fluency-systems-regular/144/000000/product.png" class="emoji"></button></a>
                <a href="#team">
                    <button>
                    <img src="https://img.icons8.com/fluency-systems-regular/144/000000/user-group-man-woman.png" class="emoji"></button></a>
                <a href="#docs">
                    <button>
                    <img src="https://img.icons8.com/fluency-systems-regular/144/000000/documents.png" class="emoji"></button></a>
                <a href="https://discord.gg/ZYwF9q8ChB">
                    <button>
                    <img src="https://img.icons8.com/fluency-systems-regular/144/000000/discord.png" class="emoji"></button></a>
                </div>
        </div>
        </div>
  </div>
  <div id="pfp" style="background-image: url('<%- pfp %>')"></div>
  <div class="section">
    <div id="profileArea">
    <h1 id="profileRealName"><%= firstName %> <%= lastName %></h1>
    <h2 id="profileUsername">@<%= id %></h2>
      <h3>
        420 Followers • 69 Friends • 21 badges
      </h3>
      <button id="friendRequest" class="blue">
        Send Friend Request
      </button>
      <button id="accountSettings" style="display: none;">
        Account Settings
      </button>
    <p id="profileAboutMe"><%- about %></div>
  </div>
  
  <div class="section" id="footer">
    <div>
      <a href="/index.html">
        <img src="https://cdn.glitch.com/5f5ab845-2cb8-4210-b34a-03b1f032163a%2Funtitled%20(2).svg?v=1615906410199">
      </a>
      <h2>
        We are Sargent Coding, the company that brings imagination to life.
      </h2>
      <a href="https://twitter.com/@saco_team">
        <button>
          <img src="https://img.icons8.com/fluency-systems-regular/144/000000/twitter.png" class="emoji"></button></a>
      <a href="mailto:sargentcoding@gmail.com">
        <button>
          <img src="https://img.icons8.com/fluency-systems-regular/144/000000/new-post.png" class="emoji"></button></a>
      <a href="https://glitch.com/@saco">
        <button>
          <img src="https://img.icons8.com/fluency-systems-regular/144/000000/versions.png" class="emoji"></button></a>
      <a href="https://discord.gg/ZYwF9q8ChB">
        <button>
          <img src="https://img.icons8.com/fluency-systems-regular/144/000000/discord.png" class="emoji"></button></a>
      <a href="/colours.css">
        <button>
          <img src="https://img.icons8.com/fluency-systems-regular/144/000000/color-palette.png" class="emoji"></button></a>
    </div>
  </div>
</body></html>